{"root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
      "next", 
      "sanity", 
      "sanity/typescript",
      "sanity/react",
      "eslint:recommended"],
  "plugins": [
    "prettier/recommended",
    "react-hooks/recommended",
    "react",
    "@typescript-eslint",
    "sanity/typescript",
    "@typescript-eslint/recommended",
    "react/recommended",
    "react/jsx-runtime"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}