{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [ 
      "sanity", 
      "sanity/typescript",
      "sanity/react",
      "eslint:recommended",
      "plugin:prettier/recommended",
      "plugin:react-hooks/recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}